<nz-table #basicTable [nzData]="elementList">
    <thead>
        <tr>
            <th *ngFor="let head of titleHeads">
                <ng-container *ngIf="head.englishName || head.chineseName">
                    <div class="english-head">{{ head.englishName }}</div>
                    <div class="chinese-head">{{ head.chineseName }}</div>
                </ng-container>
                <span *ngIf="!head.englishName && !head.chineseName">{{ head }}</span>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <ng-container *ngFor="let head of elementKeys">
                <td *ngIf="!head.primaryKey">
                    <div class="editable-cell" *ngIf="!data.editing || head === 'id'; else editTpl">
                        <div class="editable-cell-value-wrap">
                            {{ head.name ? (head.filterKey ? data[head.name][head.filterKey] : data[head.name]) : data[head] }}
                        </div>
                    </div>
                    <ng-template #editTpl>
                        <input *ngIf="!head.option && !head.searchFn" type="text" nz-input
                            [(ngModel)]="head.name ? data[head.name + '_editing'] : data[head + '_editing']"
                            [readonly]="head.readonly"
                            (ngModelChange)="head.onModelChange ? head.onModelChange($event, data) : ''" />
                        <nz-select *ngIf="head.option || head.searchFn" style="width: 120px;"
                            [(ngModel)]="data[head.name + '_editing']" nzAllowClear nzPlaceHolder="Choose" nzShowSearch
                            [nzServerSearch]="head.searchFn" [compareWith]="head.compareWith"
                            (nzOnSearch)="onSearch($event, head, data)" (nzOpenChange)="onSearch('', head, data)"
                            (ngModelChange)="head.onModelChange ? head.onModelChange($event, data) : ''"
                            [nzCustomTemplate]="custom">
                            <nz-option *ngFor="let item of head.option" [nzValue]="item.option? item.option : item"
                                [nzLabel]="getOptionValue(item, head.filterKey)" [nzDisabled]="item.disabled">
                            </nz-option>
                        </nz-select>
                        <ng-template #custom let-selected>
                            <span>{{ selected.nzLabel }}</span>
                        </ng-template>
                    </ng-template>
                </td>
            </ng-container>
            <td>
                <span *ngIf="data.editing" class="action-button glyphicon glyphicon-ok" aria-hidden="true" title="Save"
                    (click)="onclickSave(data.id)"></span>
                <span *ngIf="data.editing" class="action-button glyphicon glyphicon-remove" aria-hidden="true"
                    title="Cancel" (click)="onclickCancel(data)"></span>
                <span *ngIf="!data.editing" class="action-button glyphicon glyphicon-pencil" aria-hidden="true"
                    title="Edit" (click)="onclickEdit(data)"></span>
                <span *ngIf="!data.editing" class="action-button glyphicon glyphicon-trash" aria-hidden="true"
                    title="Delete" (click)="onclickDelete(data.id)"></span>
                <span *ngIf="!data.editing && onclickDetail.observers.length"
                    class="action-button glyphicon glyphicon-list-alt" aria-hidden="true" title="Detail"
                    (click)="onclickDetailBtn(data)"></span>
                <ng-container *ngFor="let action of actions">
                    <span *ngIf="!data.editing && (!action.isShow || action.isShow(data))"
                        [class]="'action-button ' + action.class || action.getClass(data)" aria-hidden="true"
                        [title]="action.title" (click)="action.click(data)"></span>
                </ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>
<button (click)="addRow()">Add</button>