<nz-table #basicTable [nzData]="elementList">
    <thead>
        <tr>
            <th *ngFor="let head of titleHeads">{{ head }}</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td *ngFor="let head of elementKeys">
                <div class="editable-cell" *ngIf="!data.editing || head === 'id'; else editTpl">
                    <div class="editable-cell-value-wrap">
                        {{ head.name ? data[head.name] : data[head] }}
                    </div>
                </div>
                <ng-template #editTpl>
                    <input *ngIf="!head.option && !head.searchFn" type="text" nz-input
                        [(ngModel)]="data[head + '_editing']" />
                    <nz-select *ngIf="head.option || head.searchFn" style="width: 120px;" [(ngModel)]="selectedValue"
                        nzAllowClear nzPlaceHolder="Choose" nzShowSearch [nzServerSearch]="head.searchFn"
                        (nzOnSearch)="onSearch($event, head)">
                        <nz-option *ngFor="let item of head.option" [nzValue]="item[head.filterKey]"
                            [nzLabel]="item[head.filterKey]" [nzDisabled]="item.disabled"></nz-option>
                    </nz-select>
                </ng-template>
            </td>
            <td>
                <span *ngIf="data.editing" class="glyphicon glyphicon-ok" aria-hidden="true" title="Save"
                    (click)="onclickSave(data.id)"></span>
                <span *ngIf="data.editing" class="glyphicon glyphicon-remove" aria-hidden="true" title="Cancel"
                    (click)="onclickCancel(data)"></span>
                <span *ngIf="!data.editing" class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"
                    (click)="onclickEdit(data)"></span>
                <span *ngIf="!data.editing" class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete"
                    (click)="onclickDelete(data.id)"></span>
                <span *ngIf="!data.editing && onclickDetail.observers.length" class="glyphicon glyphicon-list-alt"
                    aria-hidden="true" title="Detail" (click)="onclickDetailBtn(data)"></span>
            </td>
        </tr>
    </tbody>
</nz-table>
<button (click)="addRow()">Add</button>