<nz-table #basicTable [nzData]="customers">
    <thead>
        <tr>
            <th *ngFor="let head of tableHeads">{{ head }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td *ngFor="let head of tableHeads">{{ data[head] }}</td>
            <td>
                <a>Action 一 {{ data.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<button (click)="isShowAdd = true">Add</button>