.order-detail-panel {
    max-width: 1000px;
    width: 100%;
    max-height: 1414px;
}

.logo {
    height: 50px;
    position: absolute;
}

.title {
    text-align: center;
}

.fr {
    float: right;
}

.contract-num-head {
    margin-right: 20px;
}

.detail-table {
    border: 1px solid #666666;
}

.detail-table>div {
    display: grid;
    grid: auto / 30% 35% 35%;
}

.detail-table>div:not(:last-child) {
    border-bottom: 1px solid #666666;
}

.detail-table>div>span {
    display: inline-block;
    max-width: 400px;
}

.detail-table>div>span:first-child {
    max-width: 300px;
    border-right: 1px solid #666666;
}

.detail-table>div>span>div {
    height: 24px;
}

.telephone, .style-num {
    border-bottom: 1px solid #666666;
}

.company {
    text-align: center;
}

.total-div {
    font-size: 16px;
    font-weight: bold;
}

.total-span {
    display: inline-block;
    width: 50%;
}

.delivery {
    font-size: 18px;
}

.item-title {
    display: inline-block;
    width: 150px;
}

.buyer-signature {
    float: right;
    width: 290px;
}

.total-item, .total-value {
    display: inline-block;
}

.total-item {
    width: 12%;
}

.total-value {
    width: 12%;
}

.footer {
    margin-top: 100px;
}
