<div class="order-detail-panel">
    <div>
        <img class="logo" src="assets/img/ykk_logo.png">
        <h1 class="title">SALES NOTE</h1>
        <div class="title sales-list">销售清单</div>
    </div>
    <div>
        <h2>YKK拉链</h2>
    </div>
    <div class="fr">
        <span class="contract-num-head">合同号：</span>
        <span>{{ contract }}</span>
    </div>
    <div>
        地址: {{ saler.address }}
    </div>
    <div class="detail-table">
        <div class="">
            <span>
                <div class="telephone">电话: {{ saler.tel }}</div>
                <div>营业负责人:{{ saler.name }}</div>
            </span>
            <span>
                <div>Sales Notes No. 销售记录</div>
                <div>{{ salesNotesNum }}</div>
            </span>
            <span>
                <div>Place&Date 日期</div>
                <div>{{ placeDate }}</div>
            </span>
        </div>
        <div>
            <span>
                <div>Messrs. 购买方</div>
                <div class="company">{{ customer?.company?.name }}</div>;
            </span>
            <span>
                <div>Contract Customer 收件人</div>
                <div>{{ customer?.name }}</div>
            </span>
            <span>
                <div>Fax 传真号码</div>
                <div>{{ customer?.fax }}</div>
            </span>
        </div>
        <div>
            <span>
                <div>Dellvery To 发货到</div>
                <div>{{ customer?.address }}</div>
                <div>{{ customer?.name }}: {{ customer?.tel }}</div>
            </span>
            <span>
                <div>客户款号 :</div>
                <div class="style-num">{{ styleNum }}</div>
                <div>Term/Method of Payment 付款方式</div>
                <div>{{ term }}</div>
            </span>
            <span>
                <div></div>
                <div class="style-num"></div>
            </span>
        </div>
    </div>
    <app-input-table [elementKeys]='elementKeys' [tableKey]='tableKey' [preview]=preview (onsave)="onsave($event)">
    </app-input-table>
    <div class="footer">
        <div class="total-div">
            <span class="total-span">Total AMOUNT 合计</span>
            <span class="total-item">数量</span>
            <span class="total-value">{{ totalQuantity }}</span>
            <span class="total-item">总价</span>
            <span class="total-value">{{ totalAmount }}</span>
        </div>
        <div class="delivery">预计交货期：</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;请确认清单上的内容是否正确，如确认无误请将此清单盖章回传至我司!</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;买方收到此协议，应在2日内签名盖章回传卖方。</div>
        <div>
            <span class="item-title">BANK 银行</span>
            <span>{{ company?.bank }}</span>
        </div>
        <div>
            <span class="item-title">A/C NO. 帐户</span>
            <span>{{ company?.account }}</span>
            <span class="buyer-signature">买方签名盖章</span>
        </div>
        <div>
            <span class="item-title">卖方</span>
            <span>{{ company?.name }}</span>
        </div>
    </div>
</div>
<button *ngIf="!preview" (click)="preview = !preview;">打印预览</button>